.chat_section_wrapper {
    /* width: calc(100% - 230px); */
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: var(--gradient-primary);
}

@media screen and (max-width: 900px) {
    .chat_section_wrapper {
        height: fit-content;
    }    
}